version: 2
updates:
  # Frontend dependencies
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

  # Backend dependencies
  - package-ecosystem: "npm"
    directory: "/backend-ts"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
